@font-face {
    font-family: 'Onest';
    src: url('/assets/styles/fonts/OnestRegular1602-hint/TTF/OnestRegular1602-hint.ttf') format('ttf'), url('/assets/styles/fonts/OnestRegular1602-hint/WOFF/OnestRegular1602-hint.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Onest';
    src: url('/assets/styles/fonts/OnestBold1602-hint/TTF/OnestBold1602-hint.ttf') format('ttf'), url('/assets/styles/fonts/OnestBold1602-hint/WOFF/OnestBold1602-hint.woff') format('woff');
    font-weight: 700;
}

/* первым делаем на мобильные устройства */

.aboutus {
    display: grid;
    justify-content: space-around;
    align-content: space-evenly;
    height: 360px;
    background: #000000;
}

.aboutus_header {
    width: 171.24px;
    height: 32.95px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 164%;
    text-align: center;
    text-transform: uppercase;
    color: #F7DD4A;
}

.aboutus_text1 {
    width: 303.98px;
    height: 66.9px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 144.5%;
    color: #F7DD4A;
}

.aboutus_text2 {
    width: 300.94px;
    height: 66.9px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 144.5%;
    color: #F7DD4A;
}

.products {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 480px;
    font-family: '0nest';
}

.products_head {
    width: 304px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 164%;
    text-transform: uppercase;
    color: #000000;
}

.products_text {
    width: 300px;
    height: 137px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 144.5%;
    color: #000000;
}

.yellow_lines {
    position: relative;
    width: 156px;
    height: 61.88px;
    left: 42px;
    top: -97px;
    z-index: -1;
}

.products_img {
    background: url(/images/humans.svg) center center no-repeat;
    width: 100%;
    height: 100%;
}

/*планшеты*/
@media screen and (min-width: 1225px) {

    .about {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .aboutus {
        display: grid;
        justify-content: space-around;
        align-content: space-evenly;
        height: 694px;
        background: #000000;
    }

    .aboutus_header {
        width: 421px;
        height: 79.26px;
        font-family: 'Onest';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 164%;
        text-align: center;
        text-transform: uppercase;
        color: #F7DD4A;
    }

    .aboutus_text1 {
        width: 600px;
        height: 135.32px;
        font-family: 'Onest';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 144.5%;
        color: #F7DD4A;
    }

    .aboutus_text2 {
        width: 563px;
        height: 135.32px;
        font-family: 'Onest';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 144.5%;
        color: #F7DD4A;
    }

    .products {
        display: grid;
        justify-content: space-around;
        justify-items: start;
        height: 480px;
        font-family: '0nest';
    }

    .products_head {
        width: 1014.03px;
        height: 160.81px;
        font-family: 'Onest';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 164%;
        text-transform: uppercase;
        color: #000000;
    }

    .products_text {
        width: 514px;
        height: 137px;
        font-family: 'Onest';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 144.5%;
        color: #000000;
    }

    .yellow_lines {
        position: relative;
        width: 325px;
        height: 128.91px;
        left: 220px;
        top: -157px;
        z-index: -1;
    }

    .products_img {
        background: url(/images/humans_middle.svg) center center no-repeat;
        width: 100%;
        height: 100%;
    }



}

/*компьютеры*/
@media (min-width:1440px) {}