@font-face {
    font-family: '0nest';
    src: url('/assets/styles/fonts/onest/TTF/OnestRegular1602-hint.ttf') format('ttf'), url('/assets/styles/fonts/onest/WOFF/OnestRegular1602-hint.woff') format('woff');
}

/* первым делаем на мобильные устройства */

.key-block {
    border: 1px solid red;
    height: 140vw;

    font-family: Onest;
}

/*планшеты*/
@media screen and (min-width: 1225px) {}


/*компьютеры*/
@media (min-width:1440px) {}
